In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:

DATA_PATH = r"C:\\Users\\renpg\\Downloads\\student+performance (1)\\student\\student-mat.csv"

df = pd.read_csv(DATA_PATH, sep=';')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [ ]:
df = df[["G1", "G2", "G3", "studytime", "failures", "absences"]]
print(df)

     G1  G2  G3  studytime  failures  absences
0     5   6   6          2         0         6
1     5   5   6          2         0         4
2     7   8  10          2         3        10
3    15  14  15          3         0         2
4     6  10  10          2         0         4
..   ..  ..  ..        ...       ...       ...
390   9   9   9          2         2        11
391  14  16  16          1         0         3
392  10   8   7          1         3         3
393  11  12  10          1         0         0
394   8   9   9          1         0         5

[395 rows x 6 columns]

In [ ]:
predict = "G3"

In [ ]:
X = df.drop(columns=["G3"])
y = df["G3"]

In [ ]:
#PREPROCSSING
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
#NORMALIZATION 
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
X_train_scaled = pd.DataFrame(
    X_train_scaled, columns=X.columns, index=X_train.index
)

X_test_scaled = pd.DataFrame(
    X_test_scaled, columns=X.columns, index=X_test.index
)

In [ ]:
print(X_train_scaled.describe())

                 G1            G2     studytime      failures      absences
count  3.160000e+02  3.160000e+02  3.160000e+02  3.160000e+02  3.160000e+02
mean  -3.934968e-17 -2.136125e-16  2.670157e-16  3.091760e-17 -7.588866e-17
std    1.001586e+00  1.001586e+00  1.001586e+00  1.001586e+00  1.001586e+00
min   -1.847461e+00 -2.840519e+00 -1.254553e+00 -4.567438e-01 -7.022567e-01
25%   -9.133847e-01 -4.405084e-01 -1.254553e+00 -4.567438e-01 -7.022567e-01
50%    2.069156e-02  9.282743e-02 -5.685286e-02 -4.567438e-01 -2.265587e-01
75%    6.434091e-01  6.261632e-01 -5.685286e-02 -4.567438e-01  2.491393e-01
max    2.511562e+00  2.226171e+00  2.338548e+00  3.628097e+00  8.217081e+00